@model AppMedicineTracker.Models.Medicine

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Html.DisplayFor(model => model.Name)</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Form)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Form)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrescribedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrescribedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
