@model AppMedicineTracker.Models.Medicine

@{
    ViewData["Title"] = "Details";
}

<h1>Details for @Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Form)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Form)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instructions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrescribedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrescribedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
